
body{
    text-align: center;
    background-color: rgb(155, 175, 170);

}
input{
    height: 25px;
    width: 250px;
   
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
button{
    height: 28px;
    width: 90px;
    border-radius: 7px;
}

ul{
    text-align: start;
}

.box{
border:2px solid black;
width: 400px;
display: flex;
margin-left: 450px;
margin-top: 20px;
box-shadow: 2px 2px 5px black;
}